.loading {
  text-align: center;
  animation: loading 1.2s ease-in-out infinite;
}

@keyframes loading {
  0% {
    color: aliceblue;
  }
  50% {
    color: rgb(187, 187, 108);
  }
  100% {
    color: yellow;
  }
}
